.main-foot{
    color:white;
    background-color: #1d293e;
    padding-top:3em;
    position:relative;
    bottom:0;
    width:100%;
    
}
.foot-cont{
    display:flex;
    flex-direction: column;
}
.foot-col{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.foot-logo{
    height: 30px;
    width: 30px;
}
.foot-a{
    outline: none;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}
.foot-a:hover{
    
    color: white
}